<div class="dark-mask" [ngClass]="{'invisible': !focusMode}"> </div>

<div class="grid-container">
  <div class="top-bar">
    <platon-logo></platon-logo>

    <div class="spacer"></div>

    <div class="center">
      <current-time [ngClass]="{'invisible': focusMode}"></current-time>
      <exit-button></exit-button>
    </div>
  </div>

  <div class="current-slide-container">
    <div class="spacer"></div>

    <div class="board-container">
      <div class="board">
        <div class="slide-wrapper">
          <course-slide [slide]="currentSlide()"></course-slide>
        </div>

        <progress-bar [currentPage]="currentSlideNumber()" [loadedPages]="globalPresentation.lastRevealedSlide"
          [max]="globalPresentation.lastRevealedSlide" [focusMode]="focusMode">
        </progress-bar>

        <div class="navigation-bar">
          <button mat-fab color="primary" [disabled]="focusMode || ownPresentation.isOnFirstSlide()"
            (click)="navigateBackwards()" matTooltip="Slide précédente">
            <mat-icon>arrow_back</mat-icon>
          </button>

          <div class="spacer"></div>

          <button mat-fab class="toggle-focus inverted" [ngClass]="{'warn': focusMode}" (click)="toggleFocusMode()" matTooltip="Mode Focus">
            <mat-icon>{{ focusMode ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          <div class="spacer"></div>

          <button mat-fab color="primary" [disabled]="focusMode || cantGoFurther()" (click)="navigateForward()"  matTooltip="Slide suivante">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="spacer"></div>
  </div>

  <div class="amphi-title">
    <amphi-title></amphi-title>
  </div>
