<div class="toggle-view">
  <mat-icon>airline_seat_recline_normal</mat-icon>
  <mat-slide-toggle [(ngModel)]="prof_view" (click)="showViewSnackBar()"></mat-slide-toggle>
  <img src="https://img.pngio.com/certification-ospi-teacher-black-and-white-png-200_200.png">
</div>

<ng-container *ngIf="prof_view; then profView else eleveView"></ng-container>

<ng-template #profView>
  <app-interface-prof [presentation]="presentation" [forcedFocusMode]="forcedFocusMode" (focusModeEvent)="forceFocusMode($event)" ></app-interface-prof>
</ng-template>

<ng-template #eleveView>
  <app-interface-eleve [globalPresentation]="presentation" [forcedFocusMode]="forcedFocusMode"></app-interface-eleve>
</ng-template>
