@import "../../styles";

$platon-logo-size: 40px;

.toggle-view {
  @extend .center;
  position: absolute;
  margin: 2.5% 0 0 $platon-logo-size + 50px;
  border-radius: 10px;
  border-color: rgba($color: black, $alpha: .5);

  mat-icon, span {
    @extend .center;
    margin: 0 10px;
  }
  span {
    font-size: 16pt;
  }
}
