@import "../interface.component";

$top-bar-height: 25px;

#control-panel {
  @extend .flex-column;
  height: 100%;
  transition: .4s;

  .title-bar {
    @extend .flex;
    height: $top-bar-height;
    background-color: $primary-color;
    border-radius: 15px 15px 0 0;

    .hide-arrow {
      cursor: pointer;
      margin: 0 10px;
      transition: .2s;
    }

    .flip-arrow {
      transform: rotate(180deg);
    }
  }

  mat-tab-group {
    @extend .center,
    .line,
    ;

    .mat-tab-label {
      background-color: rgba($color: $primary-color, $alpha: 1);
    }

    mat-icon {
      color: $fake-white;

      .home {
        margin: 0 7.5px;
        transform: scale(1.4);
      }
    }
  }

  .panel {
    height: inherit;
    padding: 0 15px;
    background-color: rgba($color: $primary-color, $alpha: .2);
    transition: .6s;

    h1 {
      text-align: center;
      font-size: 16pt;
      color: rgba($color: $fake-white, $alpha: .8);
    }

    &:hover {
      background-color: rgba($color: $primary-color, $alpha: .25);
    }
  }
}

.hide-panel {
  transform: translateY(100%) translateY(-$top-bar-height);
}
