<div class="dark-mask" [ngClass]="{'invisible': !forceFocusMode}"> </div>

<div class="grid-container">
  <div class="top-bar">
    <platon-logo></platon-logo>
  </div>

  <div class="top-info">
    <div class="center">
      <span class="participants">
        <mat-icon>people</mat-icon> 47
      </span>
      <div class="spacer"></div>
      <current-time></current-time>
      <exit-button></exit-button>
    </div>
  </div>

  <div class="amphi-title">
    <amphi-title></amphi-title>
  </div>

  <div class="current-slide-container">
    <div class="spacer"></div>

    <div class="slide-wrapper">
      <course-slide [slideContent]="presentation.currentSlideContent()"></course-slide>
    </div>

    <div class="navigation-bar">
      <button mat-fab color="primary" [disabled]="presentation.isOnFirstSlide()" (click)="navigateBackwards()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <div class="spacer"></div>

      <button mat-fab color="primary" class="inverted">
        <mat-icon>mic</mat-icon>
      </button>

      <button mat-fab color="primary"
        class="inverted"
        [ngClass]="{'warn': forceFocusMode}"
        (click)="toggleFocusMode(); showFocusModeSnackBar()">
        <mat-icon>{{ forceFocusMode ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <div class="spacer"></div>

      <button mat-fab color="primary" [disabled]="presentation.isOnLastSlide()" (click)="navigateForward()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>

  <div class="next-slide-container">
    <div class="slide-wrapper" [ngClass]="{'empty-slide': presentation.isOnLastSlide()}">
      <course-slide [slideContent]="presentation.nextSlideContent()"></course-slide>
    </div>

    <h2 [ngClass]="{'empty-next': presentation.isOnLastSlide()}">NEXT</h2>
  </div>

  <div class="control-panel-container">
    <div id="control-panel" [ngClass]="{'hide-panel': controlPanelHidden}">
      <div class="title-bar" (click)="toggleControlPanel()">
        <div class="spacer"></div>
        <mat-icon class="hide-arrow" [ngClass]="{'flip-arrow': controlPanelHidden}">
          keyboard_arrow_down
        </mat-icon>
      </div>

      <div class="panel">
        <mat-tab-group [selectedIndex]="3">

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>chat</mat-icon>
            </ng-template>
            <h1 class="white"> Conversation </h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>people</mat-icon>
            </ng-template>
            <h1 class="white"> Participants </h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="home">home</mat-icon>
            </ng-template>
            <h1>Bonjour, M. <span class="white">{{ profName }}</span>.</h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>play_circle_outline</mat-icon>
            </ng-template>
            <h1>Vos<span class="white"> exercices </span></h1>
            <div *ngFor="let exo of exercices">
              <platon-exercice [exercice]=exo></platon-exercice>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>settings</mat-icon>
            </ng-template>
            <h1 class="white"> Paramètres </h1>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
