<div class="dark-mask" [ngClass]="{'invisible': !forceFocusMode}"> </div>

<div class="grid-container">
  <div class="top-bar">
    <platon-logo></platon-logo>
  </div>

  <div class="top-info">
    <div class="center">
      <span class="participants">
        <mat-icon>people</mat-icon> 47
      </span>
      <div class="spacer"></div>
      <current-time></current-time>
      <exit-button></exit-button>
    </div>
  </div>

  <div class="amphi-title">
  </div>

  <div class="current-slide-container">
    <div class="spacer"></div>

    <div class="board-container">
      <div class="board">
        <div class="slide-wrapper" (mouseenter)="hoverOnSlide()" (mouseleave)="hoverOffSlide()">
          <course-slide [slide]="currentSlide()"></course-slide>
        </div>

        <progress-bar [currentPage]="presentation.currentSlideNumber" [max]="presentation.slides.length-1"
          [loadedPages]="presentation.lastRevealedSlide" [focusMode]="forceFocusMode" [showFull]="hoverSlide">
        </progress-bar>

        <div class="navigation-bar">
          <button mat-fab color="primary" [disabled]="presentation.isOnFirstSlide()" (click)="navigateBackwards()"
            matTooltip="Slide précédente">
            <mat-icon>arrow_back</mat-icon>
          </button>

          <div class="spacer"></div>

          <div class="media-menu">
            <button mat-fab color="primary" class="inverted" [ngClass]="{'warn': camOff}" (click)="toggleCam()"
              matTooltip="Couper/Activer la caméra" (mouseenter)="hoverOnCam()" (mouseleave)="hoverOffCam()">
              <mat-icon>{{ (camOff || hoverCam) ? 'videocam_off' : 'videocam' }}</mat-icon>
            </button>

            <button mat-fab color="primary" class="inverted" [ngClass]="{'warn': muted}" (click)="toggleMute()"
              matTooltip="Couper/Activer le micro" (mouseenter)="hoverOnMute()" (mouseleave)="hoverOffMute()">
              <mat-icon>{{ (muted || hoverMute) ? 'mic_off' : 'mic' }}</mat-icon>
            </button>
          </div>

          <div class="spacer"></div>

          <button mat-fab color="primary" class="inverted" [ngClass]="{'warn': forceFocusMode}"
            (click)="toggleFocusMode()" matTooltip="Passer en mode 'Focus' pour tous">
            <mat-icon>{{ forceFocusMode ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          <div class="spacer"></div>

          <button mat-fab color="primary" class="inverted" [ngClass]="{'inverted': !slideMenuHidden}"
            (click)="toggleSlideMenu()" matTooltip="Afficher tous les slides">
            <mat-icon>burst_mode</mat-icon>
          </button>

          <button mat-fab color="primary" class="" (click)="presentation.revertLastRevealedSlide()"
            [disabled]="presentation.cantRevert()" matTooltip="Annuler l'accès à la dernière slide">
            <mat-icon>replay</mat-icon>
          </button>

          <div class="spacer"></div>

          <button mat-fab color="primary" [disabled]="presentation.isOnLastSlide()" (click)="navigateForward()"
            matTooltip="Slide suivante">
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

        <div class="flex">
          <div class="spacer"></div>
          <div class="slide-menu" [ngClass]="{'hide-slide-menu': slideMenuHidden}">
            <div class="carousel">
              <div class="carousel-item" *ngFor="let slide of presentation.slides; let n = index;"
                [ngClass]="{'current': slide == presentation.currentSlide(), 'unavailable': n > presentation.lastRevealedSlide}"  (click)="navigateToNthSlide(n)">
                <div class="slide-wrapper">
                  <course-slide [slide]="slide"></course-slide>
                </div>
                <span class="slide-title">
                  {{ slide.title }}
                </span>
              </div>
            </div>
          </div>
          <div class="spacer"></div>
        </div>
      </div>
    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>
  </div>

  <div class="next-slide-container">
    <div class="slide-wrapper" [ngClass]="{'empty-slide': presentation.isOnLastSlide()}">
      <ng-container *ngIf="presentation.isOnLastSlide(); then emptySlide; else nextSlideTemp"></ng-container>
    </div>

    <ng-template #nextSlideTemp>
      <course-slide [slide]="nextSlide()"></course-slide>
    </ng-template>

    <ng-template #emptySlide>
      <div class="close-menu">
        Vous avez atteint la dernière page du cours.
        <exit-button [withTxt]="true"></exit-button>
      </div>
    </ng-template>

    <h2 [ngClass]="{'empty-next': presentation.isOnLastSlide()}">NEXT</h2>
  </div>

  <div class="control-panel-container">
    <div id="control-panel" [ngClass]="{'hide-panel': controlPanelHidden}">
      <div class="title-bar" (click)="toggleControlPanel()">
        <div class="spacer"></div>
        <mat-icon class="hide-arrow" [ngClass]="{'flip-arrow': controlPanelHidden}">
          keyboard_arrow_down
        </mat-icon>
      </div>

      <div class="panel">
        <mat-tab-group [selectedIndex]="3">

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>chat</mat-icon>
            </ng-template>
            <h1 class="white"> Conversation </h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>people</mat-icon>
            </ng-template>
            <h1 class="white"> Participants </h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="home">home</mat-icon>
            </ng-template>
            <h1>Bonjour, M. <span class="white">{{ profName }}</span>.</h1>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>play_circle_outline</mat-icon>
            </ng-template>
            <h1>Vos<span class="white"> exercices </span></h1>
            <div *ngFor="let exo of exercices">
              <platon-exercice [exercice]=exo></platon-exercice>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>settings</mat-icon>
            </ng-template>
            <h1 class="white"> Paramètres </h1>
          </mat-tab>

        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
