@import "../../../styles";

$flat-size: 5px;
$basic-size: 10px;
$extended-size: 25px;

.progress-bar {
  height: $basic-size;
  margin-top: -$basic-size;
  transition: .3s;

  .loaded-bar-value {
    height: inherit;
    transition: inherit;

    .progress-bar-value {
      @extend .center,
      %bolder;
      padding: 0 10px;
      height: inherit;
      font-size: 0;
      transition: inherit;

      .pagination {
        color: rgba($color: $fake-white, $alpha: .8);
        transition: .2s;

        .current-page {
          color: white;
          padding: 0 5px;
        }
      }
    }
  }

  &:hover {
    @extend .full-buffer;
  }
}

.full-buffer {
  height: $extended-size !important;
  margin-top: -$extended-size !important;

  .loaded-bar-value .progress-bar-value {
    font-size: $extended-size * 3 / 4;
  }
}

.shrink {
  height: $flat-size;
  margin-top: -$flat-size;
}

.progress-bar {
  background-color: rgba($color: $primary-color, $alpha: .2);

  .loaded-bar-value {
    background-color: rgba($color: $primary-color, $alpha: .4);

    .progress-bar-value {
      background-color: $primary-color;
    }
  }
}

.forced-focus {
  background-color: rgba($color: $warn-color, $alpha: .2);

  .loaded-bar-value {
    background-color: rgba($color: $warn-color, $alpha: .4);

    .progress-bar-value {
      background-color: $warn-color;

      .pagination {
        color: rgba($color: white, $alpha: .6);
      }
    }
  }
}

.free-nav {
  background-color: rgba($color: $accent-color, $alpha: .2);

  .loaded-bar-value {
    background-color: rgba($color: $accent-color, $alpha: .4);

    .progress-bar-value {
      background-color: $accent-color;

      .pagination {
        color: rgba($color: $fake-black, $alpha: .4);

        .current-page {
          color: $fake-black;
        }
      }
    }
  }
}
