@import "../interface-prof/interface-prof.component";

.slide-wrapper {
  position: relative;
  width: 100%;
  max-width: $slide-width;
  max-height: $slide-height;
  padding-top: 60%;

  color: rgb(50, 50, 50);
  background-color: white;

  .text-content {
    @extend .line;
    position: absolute;
    top: 0;

    text-align: center;
  }
}
