@import "../interface-prof/interface-prof.component";

.slide-box {
  position: relative;
  max-width: $slide-width;
  max-height: $slide-height;
  padding-top: 60%;
  overflow: hidden;

  color: rgb(50, 50, 50);
  background-color: white;

  .text-content {
    @extend .line;
    position: absolute;
    text-align: center;
    top: 0;
  }
}
